html, body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-image: url("images/space-background.jpg");
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#page-wrapper {
    width: 80%;
    margin: 20px auto;
}

#header {
    height: 60px;
}

#header-img {
    height: 100%;
    width: auto;
}

#company-name {
    font-family: 'Charmonman', cursive;
    font-weight: bold;
    font-size: 48px;
    color: whitesmoke;
}