html, body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-image: url("images/space-background.jpg");
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#page-wrapper {
    width: 80%;
    margin: 20px auto;
}

#header {
    height: 60px;
    display: flex;
    justify-content: space-between;
    border: 1px solid red;
}

#brand-wrapper {
    border: 1px solid white;
}

#header-img {
    max-height: 100%;
    width: auto;
}

#company-name {
    font-family: 'Charmonman', cursive;
    font-weight: bold;
    font-size: 50px;
    color: whitesmoke;
    position: relative;
    top: -13px;
}

#navigation {
    width: 60%;
    border: 1px solid white;

}